{% extends 'base.html' %}

{% block page_heading %}
    <h2>Login</h2>
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}