{% extends 'base.html' %}

{% block page_heading %}
    <h2>Register</h2>
{% endblock %}

{% block page_content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
{% endblock %}