<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: white;
        }

        li {
          float: left;
        }

        li a {
          display: block;
          color: black;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        li a:hover {
          background-color: grey;
        }
        {% block extra_head %}{% endblock %}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block extra_script %}{% endblock %}


</head>
<body>
    {#    header#}
    <div id="header">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'upload' %}">Upload</a></li>
                <li><a href="{% url 'shop_list' %}">Shops</a></li>
                <li><a href="{% url 'file_list' %}">Files</a></li>
                <li><a href="{% url 'overview' %}">Overview</a></li>
                <li><a href="{% url 'csv_export' %}">CSV Export</a></li>
                <li><a href="{% url 'initialize_fruit_city_data' %}">Initialize Data</a></li>
                <li><a href="{% url 'archive_spreadsheets' %}">Archive</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}

        </ul>
    </div>
    <div>{% block page_heading %}{% endblock %}</div>
    <div>{% block page_content %}{% endblock %}</div>
</body>
</html>