<div id="overview_table">
    <table width="50%">
        <tr>
            <th></th>
            {% for col in columns %}
                <th>{{ col.name }}</th>
            {% endfor %}
        </tr>
        {% for week, data in result.items %}
        <tr>
            <td>{{ week }}</td>
            {% for fruit, value in data.items %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div id="overview_graph"></div>