{% extends 'base.html' %}
{% load tag_extras %}

{% block page_heading %}
    <h2>Archive</h2>
{% endblock %}

{% block page_content %}
    <div id="archive_spreadsheets">
        <ul>
            {% for sheet in latest %}
                <li><b>User:</b>{{ sheet.user.username }}, <b>Created Date:</b>{{ sheet.created|uk_date }},
                    <b>Shop:</b>{{ sheet.shop.name }}, <b>Shop City:</b>{{ sheet.shop.city.name }}</li><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}