{% extends 'base.html' %}

{% block page_heading %}
    <h2>Delete Shop</h2>
{% endblock %}

{% block page_content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}