{% extends 'base.html' %}

{% block page_heading %}
    <h2>Edit Shop</h2>
{% endblock %}

{% block page_content %}
    <div id="create_shop">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}