{% extends 'base.html' %}
{% load tag_extras %}

{% block extra_head %}
        table, th, td{
          border:1px solid black;
        }
{% endblock %}

{% block page_heading %}
    <h2>File Listing</h2>
{% endblock %}

{% block page_content %}
    <div id="file_listing">
        <table width="50%">
            <tr>
                <th>User</th>
                <th>Shop City</th>
                <th>File</th>
            </tr>
            {% for file in object_list %}
            <tr>
                <td>{{ file.user.username }}</td>
                <td>{{ file.shop.city.name }}</td>
                <td><a href="{% url 'file_source_data' file.slug %}">{{ file.slug }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
