{% extends 'base.html' %}

{% block extra_head %}
        table, th, td{
          border:1px solid black;
        }
{% endblock %}

{% block page_heading %}
    <h2>File Detail</h2>
{% endblock %}

{% block page_content %}
    <div id="file_detail">
        <h3>Weekly Fruit Data</h3>
        <table width="50%">
            <tr>
                <th>fruit</th>
                <th>units_bought</th>
                <th>cost_per_unit</th>
                <th>units_sold</th>
                <th>price_per_unit</th>
                <th>units_wastage</th>
            </tr>
            {% for values in raw_data.weekly_data %}
            <tr>
                <td>{{ values.fruit }}</td>
                <td>{{ values.units_bought }}</td>
                <td>{{ values.cost_per_unit }}</td>
                <td>{{ values.units_sold }}</td>
                <td>{{ values.price_per_unit }}</td>
                <td>{{ values.units_wastage }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Weekly Overhead Data</h3>
        <table width="50%">
            <tr>
                <th>personnel_cost</th>
                <th>premises_cost</th>
                <th>other_overheads</th>
            </tr>
            {% for values in raw_data.overhead_data %}
            <tr>
                <td>{{ values.personnel_cost }}</td>
                <td>{{ values.premises_cost }}</td>
                <td>{{ values.other_overheads }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}