{% extends 'base.html' %}

{% block page_heading %}
    <h2>Initialize Data in Fruit and City table</h2>
{% endblock %}


{% block page_content %}
    <div id="insert_in_db">
    {% if not is_data_present_in_db %}
        <form method="POST">
            {% csrf_token %}
            <p>Please select if you want to update data in DB:</p>
            <label for="yes">Yes</label>
            <input type='radio' id='yes' name='update' value='True'>
            <label for="no">No</label>
            <input type='radio' id="no" name='update' value='False'>

            <input type="submit" value="Submit">
        </form>
    {% else %}
        <h4>Data Already Present in DB</h4>
    {% endif %}
    </div>
{% endblock %}