{% extends 'base.html' %}
{% load static %}
{#{% load tag_extras %}#}

{% block extra_head %}
    table, th, td{
      border:1px solid black;
    }
{% endblock %}
{% block extra_script %}
    <script src="{% static 'fruit_app/js/overview.js' %}" type="application/javascript"></script>
{% endblock %}


{% block page_heading %}
    <h2>Overview page</h2>
{% endblock %}


{% block page_content %}
    <div id="overview_form">
        <form>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="button" value="click me for data" onclick="get_overview_data()">
        </form>
    </div>
    <br>
    <div id="overview">

    </div>
{% endblock %}