{% extends 'base.html' %}
{% block extra_head %}
        table, th, td{
          border:1px solid black;
        }
{% endblock %}

{% block page_heading %}
    <h2>Shop Listing</h2>
{% endblock %}

{% block page_content %}
    <div id="shop_crud_div">
        <a href="{% url 'create_shop' %}">Create</a>
    </div>

    <div id="shop_listing">
        <table width="50%">
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for shop in object_list %}
            <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.city.name }}</td>
                <td><a href="{% url 'view_shop' shop.id %}">View</a></td>
                <td><a href="{% url 'edit_shop' shop.id %}">Edit</a></td>
                <td><a href="{% url 'delete_shop' shop.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
