{% extends 'base.html' %}

{% block page_heading %}
    <h2>Upload</h2>
{% endblock %}

{% block page_content %}
    <h4>Welcome {{ user.username }}</h4><br>
    <a href="{% url 'upload_single' %}">Upload Single File</a><br><br>
    <a href="{% url 'upload_multiple' %}">Upload Multiple Files</a>
{% endblock %}