{% extends 'base.html' %}

{% block page_heading %}
    <h2>Upload Multiple File</h2>
{% endblock %}

{% block page_content %}
    <h4>Welcome {{ user.username }}</h4><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}