{% extends 'base.html' %}

{% block page_heading %}
    <h2>Shop Detail</h2>
{% endblock %}

{% block page_content %}
    <h3>Name: {{ object.name }}</h3>
    <h3>City: {{ object.city.name }}</h3>
    <h3>Address: {{ object.address }}</h3>
{% endblock %}